ExternalCalcReal.ipynb
SPy Documentation/
imgs/
*plotDigitizer*
*.pdf
*.png
*titled*
*__pycache__*
base_un_run.ipynb
plot_di_external_calc+seeq_push.ipynb
redirecting_test.ipynb
seeq_asset_search.ipynb
splines.ipynb
test_data_digitized.csv
working well.ipynb
workstep_work.ipynb
.bash_history
.cache/
.gitconfig
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
*.DS_Store
.gitignore